

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Reset styles
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background: #F0F0F7
}
a{
	text-decoration: none;
	color: black;
}
input{
	border: none;
	background: transparent;
}

//Headings
h1{
	font-size: 1.750em;
	font-weight: 600;
	color: $mainTextColor;
}


.form-control{
	font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    color: #8898aa;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    background-clip: padding-box;
    //box-shadow: 0 3px 2px rgba(233,236,239,.05);
}
button{
	font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
}
.btn-primary{
	color: #fff;
    border-color: #43425D;
    background-color: #43425D;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-login{
	color: #fff;
    border-color: #43425D;
    background-color: #43425D;
    padding: 0.5rem 3rem;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-forgot{
	color: #43425D;
    border-color: #43425D;
    background-color: transparent;
    padding: 0.5rem 2rem;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.header{
	width: 55%;
	float: right;
	height: 100vh;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
	/*background: linear-gradient(87deg,#5e72e4 0,#825ee4 100%)!important;*/
	background-color: #43425d;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='392' height='392' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%238381aa' stroke-width='8'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%239493bf'%3E%3Ccircle cx='769' cy='229' r='15'/%3E%3Ccircle cx='539' cy='269' r='15'/%3E%3Ccircle cx='603' cy='493' r='15'/%3E%3Ccircle cx='731' cy='737' r='15'/%3E%3Ccircle cx='520' cy='660' r='15'/%3E%3Ccircle cx='309' cy='538' r='15'/%3E%3Ccircle cx='295' cy='764' r='15'/%3E%3Ccircle cx='40' cy='599' r='15'/%3E%3Ccircle cx='102' cy='382' r='15'/%3E%3Ccircle cx='127' cy='80' r='15'/%3E%3Ccircle cx='370' cy='105' r='15'/%3E%3Ccircle cx='578' cy='42' r='15'/%3E%3Ccircle cx='237' cy='261' r='15'/%3E%3Ccircle cx='390' cy='382' r='15'/%3E%3C/g%3E%3C/svg%3E");
}
.login{
	width: 45%;
	float: left;
	height: 100vh;
	padding-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.loginScreen h1{
	font-size: 2em;
	letter-spacing: 0.25em;
	line-height: 1.5;
	text-transform: uppercase;
	padding-bottom: 0.25rem;
	text-align: left;
}
.loginScreen label{
	text-align: left !important;
}


//DASHBOARD
//navigation (both sidebar and top naviagtion)
#topNavigation{
	width: calc(100% - 70px);
	padding: 1.2rem 1.5rem;
	color: #4D4F5C;
	margin-left: $sideNavigationWidth;
	box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-size: 0.813em;
    background-color: #fff;
}
#topNavigation form{
	width: 60%;
	margin-left: 0.25rem;
	font-size: 13px;
	color: #4D4F5C;
	height: 80%;
}
#topNavigation input{
	width: 90%;

}
.icon{
	color: #BCBCCB;
	width: 15px;
	height: 15px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
.sideNavigation{
	height: 100vh;
	width: $sideNavigationWidth;
	background-color: #43425D;
	position: fixed;
}
.sideNavigation .items{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	height: 70vh;
	top: 10%;
}
.sideNavigation .headerSidenav{
	background-color: rgba(0,0,0,0.1);
	margin-bottom: 2rem;
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}.sideNavigation .headerSidenav h1{
	font-size: .875rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 500;
}
.sideNavigation a{
	color: white;
	font-size: .875rem;
	text-decoration: none;
	width: 100%;
	padding: 0.75rem 1rem;
	padding-left: 1.5rem;
	margin-bottom: 0.5rem;
/*	margin-left: 5%;*/
}
.sideNavigation a svg{
	margin-right: 0.5rem;
}

.sideNavigation .active{
	background-color: rgba(0,0,0,0.1);
	border-left: 7px solid #A3A0FB;
	border-radius: .25rem;
}

//content

.content{
	position: absolute;
	left: calc(70px + 3%);
	top: calc(5% + 4rem);
	width: calc(100% - 70px);
}

//cards
.card{
    margin-right: 30px;
    margin-bottom: 30px;
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border-radius: .375rem;
    background-color: #fff;
}
.card-header{
    margin-bottom: 0;
    padding: 1.25rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #fff;
}
.card-body{
	padding: 1.25rem 2rem;
}
.card-header h2{
	font-size: 1.125em;
	color: #43425D;
	font-weight: 600;
	margin-bottom: 0;
}
.card .big{
	min-width: 25%;
}
.info .card-header{
	border-bottom: none !important;
	padding-bottom: 0.1rem;
}
.info .card-header h2{
	font-size: 1.063em;
}
.info .card-body span{
	font-size: 0.750em;
}

//table
.table{
	border-collapse: collapse;
	font-size: 0.813em;
}
.table thead{
    border:none !important;
    background-color: #F5F6FA;
    color: #A3A6B4;
}
.table tbody{
	color: #4D4F5C;
}

//text colors
.text-danger{
	color: #FF4141;
}
.text-good{
	color: #85FFC7;
}