@import 'components/buttons';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Reset styles
body{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background: #F0F0F7;
}
a{
	text-decoration: none;
	color: black;
}
input{
	border: none;
	background: transparent;
}
.flex-inline{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.width-full{
	width: 100% !important;
}

color{
	padding: 1rem;
	border-radius: 25px;
	min-width: 25%;
	margin: 10px;
}
//Headings
.title{
	font-weight: 600;
}
h1{
	font-size: 2.128em;
	font-weight: 600;
	letter-spacing: 1px;
	color: $mainTextColor;
}
h2{
	font-size: 1.755em;
	font-weight: 400;
	color: $mainTextColor;
}
h3{
	font-size: 1.555em;
	letter-spacing: 1px;
	color: $mainTextColor;
}
p{
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.125em;
    margin-bottom: 1rem;
    font-weight: lighter;
    color: $mainTextColor;
/*    max-width: 75%;*/
}
.leading-paragraph{
	font-weight: 400;
	line-height: 1.85;
	font-size: 1.375em;
}
.sub-info{
	font-weight: bolder;
	color: grey;
	text-transform: uppercase;
}
.text-ok{
	color: #5e72e4;
}
.text-danger{
	color: #f5365c;
}
.text-warning{
	color: #FCA311 !important;
}
.text-success{
	color: #2dce89;
}
.text-muted{
	color: #8898aa;
}

.form-control{
	font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    color: #8898aa;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    background-clip: padding-box;
    //box-shadow: 0 3px 2px rgba(233,236,239,.05);
}
.form-control-classic{
	border: 1px solid #ddd;
	width: auto;
}
.inputLabel{
	font-size: 0.75em;
}
//BUTTONS START
//--------------------------------------------------------------//
button{
	font-size: .675rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
}
.btn{
	padding: 0.5rem 2rem;
	background-color: #43425D;
	color: #fff;
	&:hover{
		// background-color: $btn_hover;
		// border: $btn_hover;
		color: $white;
	}
}
.btn-link{
   -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}
.wrapperLink{
	position: relative;
	left: 10%;
	color: $whiteMuted;
}
.btn-small{
	padding: 0.2rem 1.30rem;
	font-size: 80%;
}
.btn-table{
	padding: 0.2rem 1.30rem;
	font-size: 80%;
	border-radius: 20px;
	display: inline;
}
.btn-primary{
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-white{
    color: $PrimaryColor;
    border-color: $PrimaryColor;
    background-color: $white;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    &:hover{
		background-color: $btn_hover;
		border: $btn_hover;
		color: $white;
	}
}
.btn-danger{
	border-color: #e3342f;
	background-color: #e3342f;
}
.btn-warning{
	border-color: #FCA311;
	background-color: #FCA311;
}
.btn-success{
	border-color: #2dce89;
	background-color: #2dce89;
}
.btn-disabled{
	border-color: #8898aa;
	background-color: #8898aa;
}
.btn-login{
	color: #fff;
    border-color: #43425D;
    background-color: #43425D;

    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-forgot{
	color: #43425D;
    border-color: #43425D;
    background-color: transparent;
    padding: 0.5rem 2rem;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
//BUTTONS END
//--------------------------------------------------------------//
.viewHeader{
	position: absolute;
	width: 100%;
	height: 50vh;
	background-color: $PrimaryColor;
	color: $white;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.viewHeader .textWrapper{
	position: relative;
	left: calc(70px + 5%);
	max-width: 50%;
	color: $white;
}
.viewHeader h1{color: $white;}
.viewHeader h3{
	color: $whiteMuted;
	text-transform: capitalize;
}
.header{
	width: 55%;
	float: right;
	height: 100vh;
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
	/*background: linear-gradient(87deg,#5e72e4 0,#825ee4 100%)!important;*/
	background-color: #43425d;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='392' height='392' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%238381aa' stroke-width='8'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%239493bf'%3E%3Ccircle cx='769' cy='229' r='15'/%3E%3Ccircle cx='539' cy='269' r='15'/%3E%3Ccircle cx='603' cy='493' r='15'/%3E%3Ccircle cx='731' cy='737' r='15'/%3E%3Ccircle cx='520' cy='660' r='15'/%3E%3Ccircle cx='309' cy='538' r='15'/%3E%3Ccircle cx='295' cy='764' r='15'/%3E%3Ccircle cx='40' cy='599' r='15'/%3E%3Ccircle cx='102' cy='382' r='15'/%3E%3Ccircle cx='127' cy='80' r='15'/%3E%3Ccircle cx='370' cy='105' r='15'/%3E%3Ccircle cx='578' cy='42' r='15'/%3E%3Ccircle cx='237' cy='261' r='15'/%3E%3Ccircle cx='390' cy='382' r='15'/%3E%3C/g%3E%3C/svg%3E");
}
.login{
	width: 45%;
	float: left;
	height: 100vh;
	padding-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.loginScreen h1{
	font-size: 2em;
	letter-spacing: 0.25em;
	line-height: 1.5;
	text-transform: uppercase;
	padding-bottom: 0.25rem;
	text-align: left;
}
.loginScreen label{
	text-align: left !important;
}


//DASHBOARD
//navigation (both sidebar and top naviagtion)
#topNavigation{
	width: calc(100% - 70px);
	padding: 1.2rem 1.5rem;
	color: #4D4F5C;
	margin-left: $sideNavigationWidth;
	box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-size: 0.813em;
    background-color: #fff;
    z-index: 1000;
}
#topNavigation form{
	width: 60%;
	margin-left: 0.25rem;
	font-size: 13px;
	color: #4D4F5C;
	height: 80%;
}
#topNavigation input{
	width: 90%;
}
#mobileTopNavigation{
	display: none;
}
.icon{
	color: #BCBCCB;
	width: 15px;
	height: 15px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
.iconHamburger{
	width: 25px;
	height: 25px;
	color: $white;
}
.icon-white{
	color: $white;
}
.sideNavigation{
	height: 100vh;
	width: 70px;
	// background-color: #43425D;
	background: rgb(67,66,93);
	background: -webkit-linear-gradient(42deg, rgba(67,66,93,1) 43%, rgba(94,114,228,1) 100%);
	background: -o-linear-gradient(42deg, rgba(67,66,93,1) 43%, rgba(94,114,228,1) 100%);
	background: linear-gradient(132deg, rgba(67,66,93,1) 43%, rgba(94,114,228,1) 100%);
	position: fixed;
	z-index: 1000;
}
#NavExpandTriggerBox{
	color: white;
	font-size: .875rem;
	text-decoration: none;
	width: 100%;
	padding: 1.2rem 1.5rem;
	padding-left: 1.5rem;
	margin-bottom: 0.5rem;
}

.sideNavigation .items{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	height: 70vh;
	top: 10%;
}
.sideNavigation .headerSidenav{
	background-color: rgba(0,0,0,0.1);
	margin-bottom: 2rem;
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}.sideNavigation .headerSidenav h1{
	font-size: .875rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 500;
}
.sideNavigation .items a{
	color: white;
	font-size: .775rem;
	text-decoration: none;
	width: 100%;
	padding: 0.75rem 1rem;
	padding-left: 1.5rem;
	margin-bottom: 0.5rem;
/*	margin-left: 5%;*/
	&:hover{
		background-color: rgba(0,0,0,0.3);

	}
}
.sideNavigation a svg{
	margin-right: 0.5rem;
}

.sideNavigation .active{
	// background-color: $PrimaryColor;
	border-left: 9px solid rgba(163, 160, 251, 80%);
	// border-radius: .25rem;
}
//Expandable navigation styles
.ExpandableItem{
	text-align: right;
	display: none;
}
// END OF Expandable navigation styles
//content

.content{
	position: absolute;
	left: calc(70px + 3%);
	top: calc(35% + 4rem);
	width: calc(100% - 70px - 3%);
}

//cards
.card{
    margin-right: 30px;
    margin-bottom: 30px;
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border-radius: .475rem;
    background-color: #fff;
}
.card-header{
    margin-bottom: 0;
    padding: 1.25rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #fff;
}
.card-body{
	padding: 1.25rem 2rem;
}
.card-header h2{
	font-size: 1.125em;
	color: #43425D;
	font-weight: 600;
	margin-bottom: 0;
}
.card .big{
	min-width: 25%;
}
.background{
	background-color: $BackgroundColor;
}
.card-form{
	max-width: 80%;
	margin: 0 auto;
}
.card-form .actionButtons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.info .card-header{
	border-bottom: none !important;
	padding-bottom: 0.1rem;
}
.info .card-header h2{
	font-size: 1.063em;
}
.info .card-body span{
	font-size: 0.750em;
}

//table
.table{
	border-collapse: collapse;
	font-size: 0.813em;
}
.table thead{
    border:none !important;
    background-color: #F5F6FA;
    color: #A3A6B4;
}
.table tbody{
	color: #4D4F5C;
}
.table-body{
	background-color: transparent;
	border-collapse: collapse;
    	border-radius: 2px;
    	border-spacing: 0;
    	max-width: 100%;
    	width: 100%;
}

.table-body td, th{
    	background-color: transparent;
}



//text colors
.text-danger{
	color: #FF4141;
}
.text-good{
	color: #85FFC7;
}

.form-control{
    background-clip: padding-box;
    background-color: #fff;
    /*border: 1px solid #cad1d7;*/
    border-radius: .25rem;
    box-shadow: none;
    color: #8898aa;
    display: block;
    font-size: 0.855rem;
    height: calc(2.75rem + 2px);
    line-height: 1.5;
    padding: .825rem .95rem;
    transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
    width: auto;
}
.form-control-success{
	background-color: #2dce89;
	color: #fff;
	&:focus{
		background-color: $btn_hover;
		border: $btn_hover;
		color: $white;
	}
}
.form-control-success::placeholder, .form-control-error::placeholder{
	color: #fff;
}
.form-control-error{
	background-color: #e3342f;
	color: #fff;
	&:focus{
		background-color: $btn_hover;
		border: $btn_hover;
		color: $white;
	}
}
.form-control-login{
	border: none;
	background: transparent;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	width: 100%;
}

.modal{
	border-radius: .255em;
	border:none;
}
.modal-dialog-form{
	min-width: 800px;
}
.modal-form .modal-body, .card-form .card-body{
	background-color: $BackgroundColor;
}
.modal-header{
	border-bottom: none !important;
}
.modal-footer{
	border-top: none;
}
.bg-label{
	display: inline-block;
	border-radius: .25em;
	font-size: 80%;
	font-weight: 400;
	line-height: 1;
	padding: .4rem .45rem;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}
.bg-label-primary{
	background-color: #5e72e4;
	color: #fff;
}
.bg-label-danger{
	background-color: #e3342f;
	color: #fff;
}
.bg-label-success{
	background-color: #2dce89;
	color: #fff;
}
.bg-label-warning{
	background-color: #FCA311;
	color: #fff;
}
.bg-label-main{
	background-color: #30323D;
	color: #fff;
}

//Select
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 1.125rem;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 25px;
  width: 25px;
  background: $InputBackgroundColor;
  border-radius: .2rem;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: $PrimaryColor;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #30323D;
}
.control input:disabled ~ .control__indicator {
  background: #8898aa;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 7.5px;
  top: 2.5px;
  width: 10px;
  height: 15px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);

}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  min-width: 25%;
  width: auto;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
//POPOVERS

.popover{
	border: none;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.popover-header{
	border: none;
	background-color: transparent;

}
//END OF POPOVERS


//START OF SWITCH BUTTON
//--------------------------------------------------
.btn-toggle {
  margin: 0 1rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.toggleBtnText{
	left: -4rem;
	color: $MutedColor;
	font-size: 11px;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: '';
  left: -4rem;
}
.btn-toggle:after {
  content: '';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: $PrimaryColor;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}
//END OF SWITCH BUTTON
//---------------------------------------------------

//TABLE SORTING
//---------------------------------------------------
th.sorted.ascending:after {
	content: "  \2191";
}
th.sorted.descending:after {
	content: " \2193";
}
//END OF TABLE SORTING
//---------------------------------------------------
.searchContainer{
	width: 70%;
	background-color: $white;
	padding: 1rem;
	height: 10vh;
	position: fixed;
	left: 90px;
	top: 4rem;
}
.hidden {
	display: none;
}
#map{
	width: 100%;
	height: 50vh;
}

@media only screen and (max-width: 600px) {
	.sideNavigation{
		display: none;
	}
	#topNavigation{
		display: none;
	}
	.AdvancedData{
		display: none;
	}
	#mobileTopNavigation{
		z-index: 10000;
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 1rem;
		background-color: $mainTextColor;
		color: $white;
	}
	.content{
		margin: 0 auto;
		left: 3%;
		width: calc(100% - 3%);
	}
} 